<div class="upper-full-wrap">
    <div class="container">
      <div class="upper-real-esate">
        <div class="left-real-esate">
          <a click="back()" routerLinkActive="active"><i class="fas fa-angle-left"></i></a>
        </div>
        <div class="center-real-esate">
          <span>Notification</span>
        </div>
        <div class="right-real-esate">
        </div>
      </div>
    </div>
  </div>
  
  <div class="notification-data">
    <div class="no-notification">
      <h3 class="sorry-data">Sorry! No data available</h3>
    </div>
  </div>