<div class="menuwrpr">
  <div class="prflsctn animated fadeInUpmovie">
    <div class="prfltbl ">
      <span class="prfltd frstd"
        ><span class="prflpic"
          ><span
            style='background-image: url("https://akam.cdn.jdmagicbox.com/images/icontent/newwap/prot/profiledefault.png");'
          ></span></span></span
      ><span class="prfltd"><span class="nm">Sign in</span></span
      ><span class="prfltd lastd"><span class="arrowrgt"></span></span>
    </div>
  </div>
  <div class="navlist animated fadeInUpmovie">
    <ul class="animated fadeInUpmovie">
      <li class="font15">
        <span class="tdspan"
          ><span
            class="jdsidemenu jdprofilefavourites transform11"
          ></span></span
        ><span class="tdspan">Favourites</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdprofilesaved transform11"></span></span
        ><span class="tdspan">Saved Items</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
    </ul>
  </div>
  <div class="hdrsingledivider floatlft"></div>
  <div class="navlist animated fadeInUpmovie">
    <ul class="animated fadeInUpmovie">
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdmyinterests transform11"></span></span
        ><span class="tdspan">My Interests</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdmytransactions transform11"></span></span
        ><span class="tdspan">My Transaction</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
    </ul>
  </div>
  <div class="hdrsingledivider floatlft"></div>
  <div class="navlist animated fadeInUpmovie">
    <ul class="animated fadeInUpmovie">
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu mailicon transform11"></span></span
        ><span class="tdspan" style="position: relative;">Feedback</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdlistyourbusiness transform11"></span></span
        ><span class="tdspan">List a Business</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdadvertise transform11"></span></span
        ><span class="tdspan">Advertise</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
    </ul>
  </div>
  <div class="hdrsingledivider floatlft"></div>
  <div class="navlist animated fadeInUpmovie">
    <ul>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu help transform11"></span></span
        ><span class="tdspan">Help &amp; Support</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdaboutus transform11"></span></span
        ><span class="tdspan">About Us</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdprivacysettings transform11"></span></span
        ><span class="tdspan">Privacy Setting</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdmore transform11"></span></span
        ><span class="tdspan">Others</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
    </ul>
  </div>
  <div class="hdrsingledivider floatlft"></div>
  <div class="navlist logintext animated fadeInUpmovie">
    <ul>
      <li class="font15">
        <span class="tdspan"
          ><span class="jdsidemenu jdlogout transform11"></span></span
        ><span class="tdspan">Login</span
        ><span class="tdspan dn"
          ><span class="arrowrgt transform11"></span
        ></span>
      </li>
    </ul>
  </div>
</div>
