
<!-- Start footer -->
<div class="full-footer">
  <ul class="footer-ul">
    <li><a routerLink="" class="active"><i class="fas fa-list"></i><br>Search</a></li>
    <li><a routerLink="social-landing"><i class="fas fa-user"></i><br>Social</a></li>
    <li><a routerLink="advertise"><i class="fas fa-broadcast-tower"></i><br>Advertise</a></li>
    <li><a routerLink="free-listing"><i class="fas fa-list"></i><br>Free Listing</a></li>
    <li><a href="#"><i class="fas fa-user"></i><br>Social</a></li>
  </ul>
</div>
<!-- End footer -->