<div class="upper-full-wrap">
  <div class="container">
    <div class="upper-real-esate">
      <div class="left-real-esate">
        <a href="index.html"><i class="fas fa-angle-left"></i></a>
      </div>
      <div class="center-real-esate">
        <span>Real Estate</span>
      </div>
      <div class="right-real-esate">
        <a href="notification.html"><i class="far fa-bell"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="category-list">
  <div class="container">
    <ul>
      <li>
        <a href="location.html">
          <span class="left-img-ul"><i class="fas fa-home"></i></span>
          Rent
          <span class="right-angle"><i class="fas fa-angle-right"></i></span>
        </a>
      </li>
      <li>
        <a href="location.html">
          <span class="left-img-ul"><i class="fas fa-home"></i></span>
          Sell
          <span class="right-angle"><i class="fas fa-angle-right"></i></span>
        </a>
      </li>
      <li>
        <a href="location.html">
          <span class="left-img-ul"><i class="fas fa-home"></i></span>
          Buy
          <span class="right-angle"><i class="fas fa-angle-right"></i></span>
        </a>
      </li>
      <li>
        <a href="location.html">
          <span class="left-img-ul"><i class="fas fa-home"></i></span>
          Buy
          <span class="right-angle"><i class="fas fa-angle-right"></i></span>
        </a>
      </li>
      <li>
        <a href="location.html">
          <span class="left-img-ul"><i class="fas fa-home"></i></span>
          PG-Hostels-and-Rooms
          <span class="right-angle"><i class="fas fa-angle-right"></i></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Start footer -->
<div class="full-footer">
  <ul class="footer-ul">
    <li><a href="#" class="active"><i class="fas fa-list"></i><br>Search</a></li>
    <li><a href="#"><i class="fas fa-user"></i><br>Social</a></li>
    <li><a href="#"><i class="fas fa-broadcast-tower"></i><br>Advertise</a></li>
    <li><a href="#"><i class="fas fa-list"></i><br>Free Listing</a></li>
    <li><a href="#"><i class="fas fa-user"></i><br>Social</a></li>
  </ul>
</div>
<!-- End footer -->